<nav>
    <form action="/toDoEntry/0" method="get">
        <input type="submit" value="Create new note">
    </form>
    <form action="/toDoList/toggleStyle" method="post">
        <input type="submit" value="Switch Style">
    </form>
</nav>
<section id="todo-list">
    <h1>Your To Do List</h1>
    <span>
    <form action="/toDoList/dueDate" method="post">
        <input type="hidden" name="updateConfig" value="dueDate">
        <input type="submit" value="Sort By Due Date">
    </form>

    <form action="/toDoList/createdDate" method="post">
        <input type="hidden" name="updateConfig" value="createdDate">
        <input type="submit" value="Sort By Creation Date">
    </form>

    <form action="/toDoList/importance" method="post">
        <input type="hidden" name="updateConfig" value="importance">
        <input type="submit" value="Sort By Importance">
    </form>
    </span>
    <form id="hide-done" action="/toDoList/toggleHide" method="post">
        <label for="updateConfig"></label>
        <button name="updateConfig" value="checked" onclick="this.form.submit()">Hide Done Tasks</button>
    </form>
</section>
<main>
    <div id="notes-container">
        {{#each notes}}
            <div class="note">
                <div id="date">Due Date: {{this.dueDate}}</div>
                <div id="title">{{this.title}}</div>
                <div id="before-note">
                    <span id="importance">
                        {{#if_eq importance 1}}Ok to forget it{{/if_eq}}
                        {{#if_eq importance 2}}Not so important{{/if_eq}}
                        {{#if_eq importance 3}}Important{{/if_eq}}
                        {{#if_eq importance 4}}Very important{{/if_eq}}
                        {{#if_eq importance 5}}Extremely important{{/if_eq}}
                    </span>
                    <span id="change-note">
                        <form action="/toDoEntry/{{this._id}}" method="get">
                            <input type="submit" value="Change existing note">
                        </form>
                    </span>
                </div>
                <div id="note">
                    <span id="done">
                        <form action="/toggleDone/{{this._id}}" method="post">
                            <input type="checkbox" name="done" value="done" {{#if_eq done 'done'}}checked="checked"{{/if_eq}} onclick="this.form.submit()">
                        </form>
                    </span>
                    <span>{{this.note}}</span>
                </div>
            </div>
        {{/each}}
        {{#if_eq notes.length 0}}
            <section class="empty-list">
                <p>No "To Do" found</p>
            </section>
        {{/if_eq}}
    </div>
</main>
