<nav>
    <form action="/toDoEntry/0" method="get">
        <input type="submit" value="Create new note">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Switch style">
    </form>
</nav>
<section class="todo-list">
    <h1>Your To Do List</h1>
    <span>
        <form action="/toDoList/{{this.sort}}" method="get">
            <input type="hidden" name="sort" value="date">
            <input type="submit" value="Sort By Due Date">
        </form>
    </span>
    <span>
        <form action="/toDoList/{{this.sort}}" method="get">
            <input type="hidden" name="sort" value="createdDate">
        <input type="submit" value="Sort By Creation Date">
        </form>
    </span>
    <span>
        <form action="/toDoList/{{this.sort}}" method="get">
            <input type="hidden" name="sort" value="importance">
            <input type="submit" value="Sort By Importance">
        </form>
    </span>
    <label for="hideDone"><span>Hide Done Tasks</span></label>
    <input formaction="/toggleHide" type="checkbox" name="hideDone">
</section>
<main>
    <ol class="notes-container">
        {{#each notes}}
            <ol class="note">
                <div id="date">Due Date: {{this.date}}</div>
                <div id="titel">{{this.titel}}</div>
                <div id="beforeNote">
                    <span id="importance">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </span>
                    <span id="changeNote">
                        <form action="/toDoEntry/{{this._id}}" method="get">
                        <input type="submit" value="Change existing note">
                        </form>
                    </span>
                </div>
                <div id="note">
                    <span id="done">
                    <input type="checkbox" name="done" checked="{{this.done}}">
                    </span>
                    <span>{{this.note}}</span>
                </div>
            </ol>
        {{/each}}
        {{#if_eq notes.length 0}}
            <section class="empty-list">
                <p>No "To Do" found</p>
            </section>
        {{/if_eq}}
    </ol>
</main>
