<nav>
    <form action="/toDoEntry/" method="get">
        <input type="hidden" name="id" value="0">
        <input type="submit" value="Create new note">
    </form>
    <form action="/" method="get">
        <input type="hidden" name="style" value="{{#if_eq style 'white'}}blue{{else}}white{{/if_eq}}">
        <input type="submit" value="Switch Style">
    </form>
</nav>
<section id="todo-list">
    <h1>Your To Do List</h1>
    <span>
    <form action="/" method="get">
        <input type="hidden" name="orderBy" value="dueDate">
        <input type="hidden" name="orderDirection" value="{{#if_eq orderDirection -1}}1{{else}}-1{{/if_eq}}">
        <input type="submit" value="Sort By Due Date">
    </form>

    <form action="/" method="get">
        <input type="hidden" name="orderBy" value="creationDate">
        <input type="hidden" name="orderDirection" value="{{#if_eq orderDirection -1}}1{{else}}-1{{/if_eq}}">
        <input type="submit" value="Sort By Creation Date">
    </form>

    <form action="/" method="get">
        <input type="hidden" name="orderBy" value="importance">
        <input type="hidden" name="orderDirection" value="{{#if_eq orderDirection -1}}1{{else}}-1{{/if_eq}}">
        <input type="submit" value="Sort By Importance">
    </form>
    </span>
    <form id="hide-done" action="/" method="get">
        <label for="hidden"></label>
        <button name="hidden" value="{{#if_eq hidden 'yes'}}no{{else}}yes{{/if_eq}}" onclick="this.form.submit()">Hide Done Tasks</button>
    </form>
</section>
<main>
    <div id="notes-container">
        {{#each notes}}
            <div class="note">
                <div id="date">Due Date: {{this.dueDate}}</div>
                <div id="title">{{this.title}}</div>
                <div id="before-note">
                    <span id="importance">
                        {{#if_eq importance 1}}Ok to forget it{{/if_eq}}
                        {{#if_eq importance 2}}Not so important{{/if_eq}}
                        {{#if_eq importance 3}}Important{{/if_eq}}
                        {{#if_eq importance 4}}Very important{{/if_eq}}
                        {{#if_eq importance 5}}Extremely important{{/if_eq}}
                    </span>
                    <span id="change-note">
                        <form action="/toDoEntry/" method="get">
                            <input type="hidden" name="id" value="{{this._id}}">
                            <input type="submit" value="Change existing note">
                        </form>
                    </span>
                </div>
                <div id="note">
                    <span id="done">
                        <form action="/toggleDone/{{this._id}}" method="get">
                            <input type="checkbox" name="done" value="done" {{#if_eq done 'done'}}checked="checked"{{/if_eq}} onclick="this.form.submit()">
                        </form>
                    </span>
                    <span>{{this.note}}</span>
                </div>
            </div>
        {{/each}}
        {{#if_eq notes.length 0}}
            <section class="empty-list">
                <p>No "To Do" found</p>
            </section>
        {{/if_eq}}
    </div>
</main>
